@charset "UTF-8";

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h1{
    text-align: center;
}

#new-task{
    width: calc(100% - 60px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    background-color: #0056b3;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed{
    text-decoration: line-through;
    color: gray;
}